MONGO_URI=mongodb://localhost:27017/tenantDB
PORT=3001
JWT_SECRET=change_this_jwt_secret_for_local_dev_123456
JWT_EXPIRATION_MS=86400000
FRONTEND_URL=http://localhost:5173
CLIENT_DIST_PATH=../client/dist
